.formStructure {
    align-items: center;
    justify-content: center;
    background-color: rgb(154, 162, 187);
    border: none;
    border-radius: 8px;
    box-shadow: 0 12px 18px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px 33px;
    width: 400px;
    height: 300px;
}

.input{
    border: 1px solid #dddfe2;
    border-radius: 3px;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 20px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
}

.form{
    display: flex;
    flex-direction: column;
}